<div class="flex justify-center space-x-8 bg-white p-6 shadow-md">
  <a href="#" class="text-BlueBg border-b-2 border-teal-600 pb-1">Ofrece Servicios</a>
  <a href="#" class="text-BlueBg hover:text-teal-800">Buscar Servicios</a>
  <a href="#" class="text-BlueBg hover:text-teal-800">¿Cómo Funciona Agéndalo?</a>
</div>
<div class="mt-8 text-center">
  <h2 class="text-2xl font-bold text-gray-700 mb-4">¿Listo para llevar tu negocio al siguiente nivel?</h2>
  <p class="text-gray-600 mb-6">Crea tu Cuenta de Proveedor y comienza a ofrecer tus servicios en Agéndalo para subir de nivel tu negocio y entrar en la web fácilmente.</p>
  <a href="#" class="bg-BlueBg text-white px-6 py-2 rounded-full hover:bg-teal-600 transition duration-300">Crea tu Cuenta de Proveedor</a>
</div>
<div class="p-8 bg-white rounded shadow-lg">
  <h1 class="text-2xl font-bold mb-4 text-center text-BlueBg">Puntos de Lealtad</h1>
  <p class="mb-4 text-gray-700">Nuestra aplicación ofrece un innovador sistema de puntos de lealtad diseñado para recompensar a nuestros clientes por su fidelidad y compromiso con nuestros proveedores. Aquí te explicamos cómo funciona:</p>

  <ol class="list-decimal list-outside space-y-4 pl-5">
    <li class="flex flex-col space-y-2">
      <h2 class="font-semibold text-gray-800 text-lg">1. Asignación de Puntos por los Proveedores:</h2>
      <ul class="list-disc list-inside ml-6 space-y-2 text-gray-600">
        <li>Los proveedores de servicios asignarán una cantidad específica de puntos de lealtad que los clientes pueden ganar al reservar y completar una cita.</li>
        <li>Los puntos se otorgan únicamente cuando el cliente asiste y se realiza la cita programada.</li>
      </ul>
    </li>
    <li class="flex flex-col space-y-2">
      <h2 class="font-semibold text-gray-800 text-lg">2. Acumulación de Puntos:</h2>
      <ul class="list-disc list-inside ml-6 space-y-2 text-gray-600">
        <li>Los clientes irán acumulando puntos cada vez que cumplan con los requisitos establecidos por los proveedores.</li>
        <li>Estos puntos se almacenarán en la cuenta del cliente dentro de la aplicación.</li>
      </ul>
    </li>
    <li class="flex flex-col space-y-2">
      <h2 class="font-semibold text-gray-800 text-lg">3. Canje de Puntos:</h2>
      <ul class="list-disc list-inside ml-6 space-y-2 text-gray-600">
        <li>Una vez que el cliente haya acumulado suficientes puntos, podrá canjearlos por el mismo servicio con el cual obtuvo esos puntos.</li>
        <li>Es importante notar que los puntos están destinados únicamente para el servicio específico donde fueron adquiridos y no pueden ser transferidos ni usados para otros servicios.</li>
      </ul>
    </li>
  </ol>
</div>
